{% extends 'TaoBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>说学逗唱</h1>
    </header>

    <p>说一说世间百态芸芸众生<br>
        学一学天地万物冷暖人情<br>
        逗一逗三番四抖铺平垫稳<br>
        唱一唱太平歌词才是正宗</p>
{% endblock %}